[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next
[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/aircrack-ng/rtl8812au.git
